@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
    background-color: #f7f6f6;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0);
    overflow-x: hidden;
    transition: 0.35s;
}

.open {
    font-size: 45px;
    font-weight: 500;
    padding-left: 5px;
    margin-right: 1rem;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #ffffff;
    display: inline-block;
    position: relative;
}

.overlay a::after {
    content: '';
    position: absolute;
    left: 0;
    width: 0%;
    bottom: 0;
    height: 2px;
    background-color: #F29005;
    transition: width 0.3s;
}

.overlay a:hover::after {
    width: 100%;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: #F29005;
}

/* ------ S E A R C H ------ */


.search {
    width: max-content;
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 28px;
    background: #f6f6f6;
    transition: box-shadow 0.3s;
}

.search:focus-within {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.75);
}

.search-input {
    font-size: 16px;
    color: #333333;
    margin-left: 8px;
    outline: none;
    border: none;
    background: transparent;
    width: 300px;
}

.search-input::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

.record {
    background-color: #ffffff;
    border-radius: 20px;
    padding: 20px 50px;
    display: flex;
    align-items: center;
    word-break: break-all;
}

.record:hover {
    box-shadow: 0 0 2px #6B7280;
    cursor: pointer;
}